CONFIG_CAL_DISABLE_CALIBRATION=y
CONFIG_CAL_FORCE_DISABLE_OVERLAY=y
CONFIG_IDF_TARGET="esp32p4"
CONFIG_EXAMPLE_LCD_USE_JD9365=y
## LVGL and PSRAM defaults tuned for large 1280x800 UI
CONFIG_LV_MEM_SIZE_KILOBYTES=512
CONFIG_LV_MEM_POOL_EXPAND_SIZE_KILOBYTES=0
## Use PSRAM for large allocations and prefer CAPS allocator
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_SPIRAM_BOOT_INIT=y
